<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Power Plant Management{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock %} {# This block is for additional head content like scripts #}
</head>
<body>
<nav>
    <a href="{{ url_for('dashboard.nuclear_dashboard') }}" class="nav-title">Nuclear Plant Dashboard</a>



    <a href="{{ url_for('dashboard.reports') }}">Reports</a>
</nav>

    <main>
        {% block content %}{% endblock %}
    </main>
     {% block scripts %}{% endblock %} {# Add this line before the closing </body> tag #}
</body>
</html>